@using Common.Models
@using System.Linq
@using System.Collections.Generic
<div class="container">
    <h1>Kupovina karata</h1>
    <p>@ViewBag.Message</p>
    <form action="~/Home/Index" style="margin-bottom: 30px">
        <div class="form-group">
            <label>Tip</label>
            <select name="Type" type="text" name="Destination" class="form-control" value="@ViewBag.Type">
                <option value="0">Avion</option>
                <option value="1">Autobus</option>
                <option value="2">Voz</option>
            </select>
        </div>
        <div class="form-group">
            <label>Datum polaska</label>
            <input type="date" name="Depart" value="@ViewBag.Depart" class="form-control">
        </div>
        <div class="form-group">
            <label>Broj dostupnih karata</label>
            <input type="text" name="Quantity" value="@ViewBag.Quantity" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Filtriraj</button>
    </form>
    <button class="btn btn-primary" onclick="Refresh()">Osveži</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Tip prevoza</th>
                <th scope="col">Odredište</th>
                <th scope="col">Temperatura</th>
                <th scope="col">Cena</th>
                <th scope="col">Datum polaska</th>
                <th scope="col">Datum povratka</th>
                <th scope="col">Broj karata</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Trip trip in ViewBag.List.Values)
            {
                <tr>
                    <td>@trip.Id</td>
                    <td>@trip.Type</td>
                    <td>@trip.Destination</td>
                    <td>@trip.Weather</td>
                    <td>@trip.Price</td>
                    <td>@trip.Depart</td>
                    <td>@trip.Return</td>
                    <td>@trip.AvailableTickets</td>
                    <td><button class="btn btn-success" onclick="Add(@trip.Id, @trip.Price)">Dodaj</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (ViewData["Purchase"] != null)
{


    <div class="container">
        <h3>Korpa</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Odredište</th>
                    <th scope="col">Količina</th>
                    <th scope="col">Ukupno</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < (ViewData["Purchase"] as Purchase).TripIds.Count; i++)
                {
                    <tr>
                        <td>@((ViewData["Purchase"] as Purchase).TripIds[i])</td>
                        <td>@(ViewBag.List[ViewBag.Purchase.TripIds[i]].Destination)</td>
                        <td>@((ViewData["Purchase"] as Purchase).Quantities[i])</td>
                        <td>@((ViewData["Purchase"] as Purchase).Amounts[i]) RSD</td>
                        <td> <button class="btn btn-danger" onclick="Remove(@i)">Ukloni</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <h3>Ukupno: @((ViewData["Purchase"] as Purchase).Amounts.Sum()) RSD </h3>
        <button class="btn btn-success" onclick="MakePurchase()">Kupi</button>
    </div>
}
<script>
    function Add(tripId, price) {
        window.location = ('/Home/AddTripPurchase?tripId=' + tripId + "&price=" + price);

    }
    function MakePurchase() {
        window.location = ('/Home/MakePurchase');

    }
    function Remove(id) {
        window.location = ('/Home/RemoveTrip?tripId=' + id);

    }
    function Refresh() {
        window.location = ('/Home/RefreshTrips');

    }
</script>